/target/
/.settings/

/pim-clientfx/target/
/pim-clientfx/test/
/pim-clientfx/.settings/
/pim-clientfx/log/

/pim-common/target/
/pim-common/test/
/pim-common/.settings/
/pim-common/log/

/pim-clientfx/target/
/pim-clientfx/test/
/pim-clientfx/.settings/
/pim-clientfx/log/